<div class="sizePanel__size">Frame size: <span>4x4</span></div>
<div class="sizePanel__other-size">
  <a href="#" data-size="3" class="sizePanel__btn-size">3x3</a>
  <a href="#" data-size="4" class="sizePanel__btn-size">4x4</a>
  <a href="#" data-size="5" class="sizePanel__btn-size">5x5</a>
  <a href="#" data-size="6" class="sizePanel__btn-size">6x6</a>
  <a href="#" data-size="7" class="sizePanel__btn-size">7x7</a>
  <a href="#" data-size="8" class="sizePanel__btn-size">8x8</a>
</div>
<div class="sizePanel__text">
  <h3 >Немного объяснений :)</h3>
  <ol>
    <li>Раскладка решаема 100%</li>
    <li>Чтобы начать игру нажать <b>Shuffle and start</b></li>
    <li>Без начала игры будет только сообщение о победе,
      но результат не пойдет в таблицу.
    </li>
    <li></li>
  </ol>
</div>